<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mdlive.mobile" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mdl_app_name"
        android:theme="@style/MDLive_Red_Theme"
        tools:replace="android:theme"
        android:name="com.mdlive.unifiedmiddleware.commonclasses.application.ApplicationController">

        <!-- Google Api Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBCfQeBHpAreYvMBD38qm-Adb_dAUcLJhI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- android:value="7327000"/> -->

        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/ChatBackground"/>

        <activity
            android:name=".PinActivity"
            android:screenOrientation="portrait"
            android:noHistory="false"
            android:theme="@style/MDLive_Red_Theme"/>

        <activity
            android:name=".UnlockActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/MDLive_Red_Theme" />

        <!-- [Login Broadcast Receiver will be received from Embed kit layer] -->
        <receiver
            android:name=".LoginBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.mdlive.mobile.LoginBroadcastReceiver"/>
            </intent-filter>
        </receiver>

        <!-- [Unlock Broadcast Receiver will be received from Embed kit layer] -->
        <receiver
            android:name=".UnlockBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.mdlive.mobile.UnlockBroadcastReceiver"/>
            </intent-filter>
        </receiver>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.mdlive.mobile" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <service
            android:name=".gcm.MDLiveRegistrationIntentService"
            android:exported="false">
        </service>

        <activity
            android:name="com.vsee.activity.CallActivity"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcm.NotificationHandler"
             >
        </activity>
        <activity
            android:name=".gcm.GCMNotificationDialog"
            android:theme="@style/MDLive_Dialog_Theme"
            >
        </activity>
        <receiver
            android:name="com.mdlive.mobile.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.mdlive.mobile" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
